/*Selector {
	Property: value;
}*/

body {
	background-image: url(backgroundImage.jpg);
	background-size: cover;
}

h2 {
	color: #FF0808;523434;
	text-align: center;
	border: 5px solid #523434;
	cursor: pointer;
}

p {
	color: pink;
}

p {
	color: green;
}

li {
	list-style: none;
	display: inline-block;
}